<h1>Meus Anuncios</h1>

<% if @ads.empty? %>
    <div class='alert alert-info'>Você nao possuie nenhum anuncio ativo</div>
<% else %>
  <% @ads.each do |ad| %>

    <div class = 'row'>
      <dt>
        <dl><%= ad.requested_knowledge %></dl>
        <dl><%= link_to 'Cancelar', ad_cancel_path(ad), method: :post %></dl>
      </dt>
    </div>
  <% end %>

<% end %>
