<div>
  <% if flash[:success]%>
    <%= flash[:success]%>
  <% end %>
</div>
<% if current_user and !current_user.profile %>
    <h2>Você ainda nao completou o seu perfil, <%= link_to 'Clique aqui', new_profile_path %> para continuar</h2>
<% end %>

<%= link_to 'Cadastrar', new_user_registration_path %>
<%= link_to 'Log in', user_session_path %>
