<% if current_user and !current_user.profile %>
    <h2>Você ainda nao completou o seu perfil, <%= link_to 'Clique aqui' %> para continuar</h2>
<% end %>
<%= link_to 'Cadastrar', new_user_registration_path %>
