<div class='row'>
  <h1>Bem vindo ao melhor de compartilhamento de conhecimento.</h1>
</div>

<div class='row'>
  <% if current_user and !current_user.profile %>
    <h2>Você ainda nao completou o seu perfil, <%= link_to 'Clique aqui', new_profile_path %> para continuar</h2>
  <% end %>
</div>

<div class='row'>
    <%if user_signed_in? %>
      <% if current_user.ads.where(active: true).empty? %>
        <h2><%= link_to 'Criar Anuncio', new_ad_path %></h2>
      <% end %>
    <% end %>
</div>

<div class='row'>
<% if @ads.empty? %>
  <div class="alert alert-info">
    <h3>Não temos anúncios por agora em breve novos anúncios para você. Volte logo!</h3>
  </div>
<% end %>
</div>

<div class='row'>
  <% @ads.each do |ad|%>
  <div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
    <h3><%= render ad %></h3>
  </div>
  <% end %>
</div>
