html, body
{
    height: 100%;
}
body{

background: -webkit-linear-gradient(#0F7986, #fff); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#0F7986, #fff); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#0F7986, #fff); /* For Firefox 3.6 to 15 */
background: linear-gradient(#0F7986, #fff); /* Standard syntax (must be last) */

}

.container.main{
  background: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 50px;
  height: 100%;
  min-height: 500px;
}

.box-ad {
    border: 1px solid #0F7986;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;

    &:hover {
        box-shadow: 1px 1px 20px 4px rgba(129, 159, 185, 0.54);
    }

    h3 {
        border-bottom: 1px solid #0F7986;
    }
}


.footer-bottom {
    background-color: #f8f8f8;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #333;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #333;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}

.logo_img{
  width: 120px;
}

.title-welcome{
  color:#fff;
}
.subtitle-welcome{
  color:#fff;
}

.btn-success {
    color: #fff;
    background-color: #137b88;
    border-color: #137b88;
  &:hover{
    color: #fff;
    background-color: #137b88;
    border-color: #137b88;
  }
  &:active{
    color: #fff;
    background-color: #137b88;
    border-color: #137b88;
  }
  &:focus{
    color: #fff;
    background-color: #137b88;
    border-color: #137b88;
  }
}

a{
  color: #137b88;

}
.welcome{
  color: #137b88;
}

.row{
  margin: 10px 0px;
}
